In [2]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
datasets_path = '../data/'
datasets = os.listdir(datasets_path)
datasets

['ablation.csv',
 'RNAstralign.csv',
 'TR0-TS0.csv',
 'TR0-TS0_splits.csv',
 'RNAstralign_splits.csv',
 'ArchiveII.csv',
 'ArchiveII_splits.csv',
 'ablation_splits.csv',
 'ArchiveII_sample.csv']

In [6]:

dfs = {}
for dataset in datasets:
    df_temp = pd.read_csv(datasets_path+dataset)
    dfs[dataset] = df_temp
    
# df = pd.DataFrame(columns=df_temp.columns)
# for folder in folders:
#     df = pd.concat([df, dfs[folder]])

In [9]:
len(datasets)

9

In [25]:
for dataset in datasets:
    print('############################')
    print(f'# Dataset: {dataset} #\n')
    print('############################')
    display(dfs[dataset])
    dfs[dataset].info()
    dfs[dataset].describe()
    print('############################')

############################
# Dataset: ablation.csv #

############################

,id,sequence,structure,base_pairs,len
0,2OJ8,GCUGUUGU,((....)),"[[1, 8], [2, 7]]",8
1,2IXZ,GCUGUGCC,((...).),"[[1, 8], [2, 6]]",8
2,6ZOK_0,GAGCGAUU,((....)),"[[1, 8], [2, 7]]",8
3,1IDV,GGGCGUGCCC,(((....))),"[[1, 10], [2, 9], [3, 8]]",10
4,5AMQ,AGUAGUGUAC,.((.....)),"[[2, 10], [3, 9]]",10
...,...,...,...,...,...
748,4E8Q,GGGGUGUGCCCGGCAUGGGUGCAGUCUAUAGGGUGAGAGUCCCGAA...,(....[(.{{{{{[..{{{{{{{{{{{...(((.......)))..(...,"[[1, 188], [6, 264], [7, 110], [9, 269], [10, ...",393
749,4FB0,GGGGUGUGCCCGGCAUGGGUGCAGUCUAUAGGGUGAGAGUCCCGAA...,(....[(.{{{{{[..{{.{{{{{{{{...(((.......)))..(...,"[[1, 188], [6, 264], [7, 110], [9, 269], [10, ...",393
750,4FAQ,GUUAUGUGUGCCCGGCAUGGGUGCAGUCUAUAGGGUGAGAGUCCCG...,.((((..[(.{{{{{[..{{{{{{{{{{{...(((.......)))....,"[[2, 189], [3, 188], [4, 187], [5, 186], [8, 2...",396
751,6SGA_0,UAAAUUAUGGUCAAUUGUUAGUAUUCAUAUUAAUUUUUUUAAAUGU...,..........................(.(((......(((.........,"[[27, 267], [29, 265], [30, 264], [31, 263], [...",396
752,7AF5_0,CCGCACAAGCGGUGGAGCAUGUGGUUUAAUUCGAUGCAACGCGAAG...,(((.((..(((((..((((((((((......((........))......,"[[1, 456], [2, 455], [3, 454], [5, 450], [6, 4...",456

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          753 non-null    object
 1   sequence    753 non-null    object
 2   structure   753 non-null    object
 3   base_pairs  753 non-null    object
 4   len         753 non-null    int64
dtypes: int64(1), object(4)
memory usage: 29.5+ KB
############################
############################
# Dataset: RNAstralign.csv #

############################

,id,sequence,base_pairs,len
0,SRP_long_bacterial_List.wels._AM263198,AACCAUGUCAGGUCCGGAAGGAAGCAGCAU,"[[5, 30], [6, 29], [7, 28], [8, 27], [13, 22],...",30
1,SRP_long_bacterial_Baci.amyl._CP000560,AACCAUGUCAGGUCCGGAAGGAAGCAGCAU,"[[5, 30], [6, 29], [7, 28], [8, 27], [13, 22],...",30
2,SRP_small_bacterial_Lact.sali._CP000233,CGUGUCAGGUCCGGAAGGAAGCAGCACUAAG,"[[2, 27], [3, 26], [4, 25], [5, 24], [10, 19],...",31
3,SRP_small_bacterial_Dein.geot._CP000359,UGAACCUGGUCAGGGCCGGAAGGCAGCAGCCA,"[[7, 32], [8, 31], [9, 30], [10, 29], [15, 24]...",32
4,SRP_small_bacterial_Sino.medi._CP000738,GCCAACCCGGUCAGGUCCGGAAGGAAGCAGCCG,"[[8, 33], [9, 32], [10, 31], [11, 30], [16, 25...",33
...,...,...,...,...
22606,16S_rRNA_Bacilli_DQ394708,UGAGUGAAGAAGGGUUUCGGCUCGUAAAGCUCUGUUGUAAGAGAAG...,"[[2, 32], [3, 31], [4, 30], [5, 29], [12, 23],...",511
22607,16S_rRNA_Actinobacteria_DQ829128,AGAGUUUGAUCAUGGCUCAGGACGAACGCUGGCGGCGUGCUUAACA...,"[[2, 18], [3, 17], [4, 16], [5, 15], [6, 14], ...",511
22608,16S_rRNA_Bacilli_Z69038,AAGUAGGACGCACAGUUUAUACCGUAGCUUGCUACACCAUAGACUG...,"[[3, 54], [4, 53], [5, 52], [8, 51], [9, 50], ...",512
22609,16S_rRNA_Bacilli_AY126255,UAGAGUUUUGAUCCUGGCUCAGGAUGAACGCUGGCGGCGUGCCUAA...,"[[3, 20], [4, 19], [5, 18], [7, 17], [8, 16], ...",512
22610,16S_rRNA_Mollicutes_AY602997,UUGUUUUUAAAGACCUAGUAUAGGUAUGCUUAGGGAGGAGCUUGCG...,"[[11, 27], [12, 26], [13, 25], [14, 24], [15, ...",512

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22611 entries, 0 to 22610
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          22611 non-null  object
 1   sequence    22611 non-null  object
 2   base_pairs  22611 non-null  object
 3   len         22611 non-null  int64
dtypes: int64(1), object(3)
memory usage: 706.7+ KB
############################
############################
# Dataset: TR0-TS0.csv #

############################

,id,sequence,base_pairs
0,bpRNA_RFAM_37268,CGCGACGGCGAGCAAUCGCCAGCGUGACUGAUCAGGAGUCAGCAGA...,"[[2, 25], [4, 23], [7, 20], [8, 19], [9, 18], ..."
1,bpRNA_RFAM_12641,CUCUGGUAACUAGAGAUCCCUCAGACCCUUUUAGUCAGUGUGAAAA...,"[[2, 98], [3, 97], [4, 96], [5, 95], [6, 94], ..."
2,bpRNA_RFAM_21314,UUUAUGGGAUACACCAAGUUCAGUUUUGUCGCAUUCCACGAGCAUC...,"[[2, 69], [3, 68], [4, 67], [5, 66], [6, 65], ..."
3,bpRNA_CRW_42535,GGGCCGGUAGCUCAUUUAGGCAGAGCGUCUGACUCUUAAUCAGACG...,"[[1, 73], [2, 72], [3, 71], [4, 70], [5, 69], ..."
4,bpRNA_RFAM_11145,GACAACUGCUAAGUGAUUUAGGUAGUUUUAUGUUGUUGGGCUCUAU...,"[[5, 89], [6, 88], [7, 87], [8, 86], [13, 81],..."
...,...,...,...
18815,CP007653.1_1278983-1278851,UUCUUUCCAAACGAUUUGAAGUUGCAGAACCUGAAAUGGCAGAUAG...,"[[2, 132], [3, 131], [4, 130], [5, 129], [6, 1..."
18816,URS0000D68500_12908_1-68,AAAAAGUAGAAACCAGAAACUACUAAAAAAACGGGGAUAAAUCCGA...,"[[6, 23], [7, 22], [8, 21], [9, 20], [35, 52],..."
18817,URS0000D6B7C1_12908_1-41,CCGUUCAACUCGCCCCUCCCCGGACGAGGGGCGUACGGGAG,"[[12, 32], [13, 31], [14, 30], [15, 29], [16, ..."
18818,URS0000D6A34B_12908_1-152,UUAUAUUGCAGAUAGGAAAGGGAUUCACCAAAAAUGGUUUGUCCUU...,"[[7, 71], [8, 70], [9, 69], [10, 68], [11, 67]..."
18819,URS0000D68124_12908_1-252,UUAAAUCUUGCCGUUAUAUUUAGUUACAAAAUUUAUGUUCUAGCAG...,"[[34, 52], [35, 51], [36, 50], [37, 49], [38, ..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18820 entries, 0 to 18819
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          18820 non-null  object
 1   sequence    18820 non-null  object
 2   base_pairs  18820 non-null  object
dtypes: object(3)
memory usage: 441.2+ KB
############################
############################
# Dataset: TR0-TS0_splits.csv #

############################

                               id  fold partition  min_train_dist
0                bpRNA_RFAM_37268     0       TR0             NaN
1                bpRNA_RFAM_12641     0       TR0             NaN
2                bpRNA_RFAM_21314     0       TR0             NaN
3                 bpRNA_CRW_42535     0       TR0             NaN
4                bpRNA_RFAM_11145     0       TR0             NaN
...                           ...   ...       ...             ...
18815  CP007653.1_1278983-1278851     0       new        0.315789
18816    URS0000D68500_12908_1-68     0       new        0.205882
18817    URS0000D6B7C1_12908_1-41     0       new        0.166667
18818   URS0000D6A34B_12908_1-152     0       new        0.355263
18819   URS0000D68124_12908_1-252     0       new        0.416667

[18820 rows x 4 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18820 entries, 0 to 18819
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              18820 non-null  object
 1   fold            18820 non-null  int64
 2   partition       18820 non-null  object
 3   min_train_dist  8006 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 588.2+ KB
############################
############################
# Dataset: RNAstralign_splits.csv #

############################

       partition  fold_number                                     id
0          train            0                      tRNA_tdbD00001178
1          train            0                      tRNA_tdbD00010284
2          train            0                5S_rRNA_Bacteria_B05880
3          train            0                      tRNA_tdbD00006371
4          train            0                5S_rRNA_Bacteria_B05600
...          ...          ...                                    ...
113050      test            4  16S_rRNA_Alphaproteobacteria_AY043628
113051      test            4  16S_rRNA_Alphaproteobacteria_AY466432
113052      test            4              16S_rRNA_Bacilli_AY126144
113053      test            4                16S_rRNA_Bacilli_Z69038
113054      test            4           16S_rRNA_Mollicutes_AY602997

[113055 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113055 entries, 0 to 113054
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   partition    113055 non-null  object
 1   fold_number  113055 non-null  int64
 2   id           113055 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB
############################
############################
# Dataset: ArchiveII.csv #

############################

,id,sequence,structure,base_pairs,len
0,5s_Acholeplasma-laidlawii-1,UCUGGUGACGAUAGGUAAGAUGGUUCACCUGUUCCCAUCCCGAACA...,((((((((......((((((((....((((((.............)...,"[[1, 111], [2, 110], [3, 109], [4, 108], [5, 1...",112
1,5s_Acidovorax-temperans-1,UGCCUGAUGACCAUAGCAAGUUGGUACCACUCCUUCCCAUCCCGAA...,.(((((((((.....((((((((.....((((((...............,"[[2, 115], [3, 114], [4, 113], [5, 112], [6, 1...",115
2,tmRNA_Stre.gord._TRW-29390_1-349,GGGGUCGUUACGGAUUCGACAGGCAUUAUGAGGCAUAUUUUGCGAC...,(((((((............((((((((....(((((((((..((((...,"[[1, 345], [2, 344], [3, 343], [4, 342], [5, 3...",349
3,tRNA_tdbR00000055-Schizosaccharomyces_pombe-48...,UCCGUUGUGGUCCAACGGCUAGGAUUCGUCGCUUUCACCGACGGGA...,(((((((..((((........))))((((((.......)))))).....,"[[1, 71], [2, 70], [3, 69], [4, 68], [5, 67], ...",75
4,srp_List.mono._U15684,UGGGUUGAUGAGCGUGAAGCCUUCGCUCGGUUGGAUUUUUCUUCAU...,.(.((((...(.(.((.(.((..(.....)..)).)...(...(.....,"[[2, 276], [4, 274], [5, 273], [6, 272], [7, 2...",279
...,...,...,...,...,...
3859,5s_Bacillus-cereus-6,UGGUAAUGAUGGCAGAGAGGUCACACCCGUUCCCAUACCGAACACG...,((((((.....((((((((.....((((((.............)))...,"[[1, 111], [2, 110], [3, 109], [4, 108], [5, 1...",114
3860,srp_Myco.aviu._AE016958,GGGGACCCCGCGCACCCGACAGAGCCCGUUGACCCUUGCUGCCUUC...,((((.....(.(...(.(.....(.(....).).....).).).)....,"[[1, 53], [2, 52], [3, 51], [4, 50], [10, 45],...",88
3861,tmRNA_Heli.pylo._AE001503_1-383,GGGGCUGACUUGGAUUUCGACAGAUUUCUUGUCGCACAGAUAGCAU...,(((((((.............((((..((((((((.((((((...((...,"[[1, 382], [2, 381], [3, 380], [4, 379], [5, 3...",383
3862,5s_Triticum-aestivum-1,GGAUGCGAUCAUACCAGCACUAAAGCACCGGAUCCCAUCAGAACUC...,(((((((((....(((((((......((((((............))...,"[[1, 118], [2, 117], [3, 116], [4, 115], [5, 1...",120
3863,5s_Streptomyces-violaceus-1,GUUUCGGUGGUCAUAGCGUUAGGGAAACGCCCGGUUACAUUCCGAA...,((.(((((((.....(((..(((.....((((((...............,"[[1, 119], [2, 118], [4, 117], [5, 116], [6, 1...",120

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3864 non-null   object
 1   sequence    3864 non-null   object
 2   structure   3864 non-null   object
 3   base_pairs  3864 non-null   object
 4   len         3864 non-null   int64
dtypes: int64(1), object(4)
memory usage: 151.1+ KB
############################
############################
# Dataset: ArchiveII_splits.csv #

############################

,fold_number,partition,id,min_train_dist
0,0,train,tmRNA_Stre.gord._TRW-29390_1-349,0.000000
1,0,train,tRNA_tdbR00000055-Schizosaccharomyces_pombe-48...,0.000000
2,0,train,srp_List.mono._U15684,0.000000
3,0,train,srp_Vibr.fisc._CP000020,0.000000
4,0,train,srp_Baci.thur._D11412,0.000000
...,...,...,...,...
19315,2,valid,RNaseP_LGB23,0.181556
19316,2,valid,RNaseP_S.caesia-K76T,0.000000
19317,2,valid,5s_Chaetomorpha-moniligera-1,0.033333
19318,2,valid,RNaseP_ESH167F,0.110320
19319,2,valid,16s_T.maritima_domain3,0.351240

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19320 entries, 0 to 19319
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fold_number     19320 non-null  int64
 1   partition       19320 non-null  object
 2   id              19320 non-null  object
 3   min_train_dist  19320 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 603.9+ KB
############################
############################
# Dataset: ablation_splits.csv #

############################

     partition  fold_number      id
0        train            0    5V16
1        train            0    5DUN
2        train            0    5V3I
3        train            0    1L1C
4        train            0    484D
...        ...          ...     ...
3760      test            4    5V3I
3761      test            4    4C4Q
3762      test            4    6WLN
3763      test            4    6WLS
3764      test            4  6SGA_0

[3765 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3765 entries, 0 to 3764
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   partition    3765 non-null   object
 1   fold_number  3765 non-null   int64
 2   id           3765 non-null   object
dtypes: int64(1), object(2)
memory usage: 88.4+ KB
############################
############################
# Dataset: ArchiveII_sample.csv #

############################

,id,sequence,structure,base_pairs,len
0,5s_Mannheimia-succiniciproducens-3,UGGCAGCGAUAGUGCAGUGGACCCACCUAAUUCCAUGCCGAACUUA...,((((((.....((((((((.....((((((.............)))...,"[[1, 111], [2, 110], [3, 109], [4, 108], [5, 1...",111
1,tmRNA_Geob.meta._CP000148_1-356,GGGGGUGUACAGGUUUCGACGGGGAUAGGAAACUAAAGGUUGCAUG...,(((((((............(((((((.(...((...((((..((((...,"[[1, 352], [2, 351], [3, 350], [4, 349], [5, 3...",356
2,5s_Nitella-flexilis-1,AUGGUACGGUCAUACCACGGCUAAUGCGCCCGAUCCCAUCCGAACU...,(.(..(((((....(((((((......((((((............)...,"[[1, 119], [3, 117], [6, 115], [7, 114], [8, 1...",121
3,srp_Haem.ducr._AE017154,GGAAACCUUCUCGGUCUCUCGCAACGGUGUCUGGUUUACUCGGUCA...,(((((((((((((((.((((((.(((((((((((((...(.(((.....,"[[1, 110], [2, 109], [3, 108], [4, 107], [5, 1...",113
4,RNaseP_SM-A2642,GAGGAAAGUCCGGGCACUAUAGGGCGGAGUGCCAGGUAACACCUGG...,.....(((.(((((((((...<<<<.((((((((((.....)))))...,"[[6, 288], [7, 287], [8, 286], [10, 285], [11,...",290
5,RNaseP_C.trachomatis-D,UCGGAAGAGUAAGGCAACCGCUGAAACCAGCUUUUUAAAAAAGAUG...,.(((((((((..<<<<<<<.(((..((((.(((((...))))).))...,"[[2, 403], [3, 402], [4, 401], [5, 400], [6, 3...",408
6,RNaseP_P.troglodytes,AUAGGGCGGAGGGAAGCUCAUCAGUGGGGCCACGAGCUGAGUGCGU...,................((((.((..(((((........(((((......,"[[17, 283], [18, 282], [19, 281], [20, 280], [...",320
7,5s_Halococcus-morrhuae-2,UUAAGGCGGCCACAGCGGCGGGGCGACUCCCGUACCCAUCCCGAAC...,((......((....(((((((......((((((................,"[[1, 122], [2, 121], [9, 115], [10, 114], [15,...",125
8,5s_Palmaria-palmata-1,ACAUGCGGCCAUAGUGCAGGAACAUGCGCCGAAACCCAUCCCGAAU...,(((((((((....((((.(((......((((((................,"[[1, 120], [2, 119], [3, 118], [4, 117], [5, 1...",121
9,tmRNA_Syne.spec._AB003477_1-394,GGGGCUGUAAUGGUUUCGACGUGUUGGUGAAUCCUUCACCGUGAUU...,(((((((............(((((((((.(...(((..(..(..((...,"[[1, 390], [2, 389], [3, 388], [4, 387], [5, 3...",394

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          10 non-null     object
 1   sequence    10 non-null     object
 2   structure   10 non-null     object
 3   base_pairs  10 non-null     object
 4   len         10 non-null     int64
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes
############################

In [103]:
dfs[datasets[6]].query('fold_number == 0 & partition == "valid"')

,fold_number,partition,id,min_train_dist
3555,0,valid,5s_Acholeplasma-laidlawii-1,0.008929
3556,0,valid,5s_Pseudomonas-fluorescens-1,0.000000
3557,0,valid,srp_Meth.maze._AE008384,0.063492
3558,0,valid,tRNA_tdbR00000546-Escherichia_coli-562-Tyr-QUA,0.000000
3559,0,valid,5s_Mycobacterium-tuberculosis-3,0.000000
...,...,...,...,...
3859,0,valid,srp_Cocc.immi._GSP-396776,0.012270
3860,0,valid,srp_Clos.kluy._CP000673,0.076923
3861,0,valid,srp_Baci.cere._AE017194,0.000000
3862,0,valid,5s_Ureaplasma-parvum-3,0.000000
3863,0,valid,srp_Myco.lepr._AL023596,0.184466

In [108]:
(dfs[datasets[6]].query('id == "5s_Acholeplasma-laidlawii-1"'))

       fold_number partition                           id  min_train_dist
3555             0     valid  5s_Acholeplasma-laidlawii-1        0.008929
7419             3     valid  5s_Acholeplasma-laidlawii-1        0.008929
7728             4     train  5s_Acholeplasma-laidlawii-1        0.000000
11592            1     train  5s_Acholeplasma-laidlawii-1        0.000000
18238            2      test  5s_Acholeplasma-laidlawii-1        0.008929

In [128]:
dfs[datasets[6]]['partition'] = dfs[datasets[6]]['partition'].astype('category') 
dfs[datasets[6]].groupby(['fold_number','partition'])['id'].agg('count')

fold_number  partition
0            test          773
             train        2782
             valid         309
1            test          772
             train        2783
             valid         309
2            test          773
             train        2782
             valid         309
3            test          773
             train        2782
             valid         309
4            test          773
             train        2782
             valid         309
Name: id, dtype: int64

In [90]:
l = (dfs[datasets[1]].id.str.split('_'))

# Remove the last word from each list of split values
l = l.apply(lambda x: '_'.join(x[:-1]))
l

0         SRP_long_bacterial_List.wels.
1         SRP_long_bacterial_Baci.amyl.
2        SRP_small_bacterial_Lact.sali.
3        SRP_small_bacterial_Dein.geot.
4        SRP_small_bacterial_Sino.medi.
                      ...
22606                  16S_rRNA_Bacilli
22607           16S_rRNA_Actinobacteria
22608                  16S_rRNA_Bacilli
22609                  16S_rRNA_Bacilli
22610               16S_rRNA_Mollicutes
Name: id, Length: 22611, dtype: object

In [132]:
dfs[datasets[5]].sort_values(by='id').sample(30)

,id,sequence,structure,base_pairs,len
1291,16s_A.fulgidus_domain4,ACCGCCCGUCAAGCCACCCGAGUGGGCCAGGGGCGAGGGGGUGGCC...,.(.(..((...((((.(((..(((((((..((((..((((((((((...,"[[2, 97], [4, 94], [7, 90], [8, 89], [12, 84],...",133
798,5s_Drosophila-takahashii-1,GCCAACGACCAUACCACGCUGAACACAUCGGUUCUCGUCCGAUCAC...,(((((((((....((((((((.....((((((............))...,"[[1, 118], [2, 117], [3, 116], [4, 115], [5, 1...",120
1322,5s_Streptomyces-coelicolor-6,UUUCGGUGGUCAUAGCGUAGGGGAAACGCCCGGUUACAUUUCGAAC...,(.(((((((.....((((((((.....((((((................,"[[1, 117], [3, 116], [4, 115], [5, 114], [6, 1...",119
2442,srp_Lodd.elon._GSP-379508,GGCUGUGAUGGCUUUUAGUGGAAGUGUACUUCUUGCGCACUCUCAG...,(((.......)))...((((((..(((.(.(...(.((..((((((...,"[[1, 13], [2, 12], [3, 11], [17, 296], [18, 29...",299
1438,tmRNA_Geob.kaus._BA000043_1-352,GGGGACGAUCCGGAUUCGACAGGGGUAGGUCGAGCUUAAGCGGCGA...,(((((((............((((((((...(..(((((((((.(((...,"[[1, 348], [2, 347], [3, 346], [4, 345], [5, 3...",352
3093,srp_Proc.mari._BX572096,GACUCGGACCCAUGCGGCCGCGACGCCUAAAUCUGGUCAGGACCGG...,((((((((.((((((.(.((((((((((.....((((.....((.....,"[[1, 94], [2, 93], [3, 92], [4, 91], [5, 90], ...",97
291,RNaseP_F.antarctica,CGAAGAGCACGGUGGUGGGUAACGCCCACCCGGGGUGACCCGCGGG...,(...<<<<.((((((((((.....)))))(((((....)))).)((...,"[[1, 164], [5, 228], [6, 227], [7, 226], [8, 2...",312
2529,srp_Leis.guya._AY722728,UCCUAGGUGGAGCGGGGGUGUCGUGGACCAGCGAGGGUGGCGCGCU...,.................................................,"[[81, 117], [83, 116], [84, 115], [88, 111], [...",137
1574,tRNA_tdbR00000064-Mycoplasma_capricolum-2095-P...,GGUCGUGUAGCUCAGUCGGUAGAGCAGCAGACUGAAGCUCUGCGUG...,(((((((..((((........)))).(((((.......)))))......,"[[1, 72], [2, 71], [3, 70], [4, 69], [5, 68], ...",76
2194,tmRNA_Xant.axon._AE011783_1-397,GGGGGUGCACUGGUUUCGACGGGGGUCGCGAAGUCGCUUGGCGCAU...,(((((((............(((((((......(((.(.((((((((...,"[[1, 393], [2, 392], [3, 391], [4, 390], [5, 3...",397
2951,5s_Chlamydomonas-reinhardtii-2,AUGGAUUGCUUAUACCUUUAUGAAAACUCCCCAUCCCAUUAGCACU...,..((.(((.(....((((((((.....((((((............)...,"[[3, 117], [4, 116], [6, 115], [7, 114], [8, 1...",121
2707,srp_Caul.cres._AE005673,AGAUCGGCGCGGACGGAGUCCUCGCCAACCUGGUCAGGGCCGAGAG...,......(.((((.(((((..((((......((((....(((....)...,"[[7, 81], [9, 79], [10, 78], [11, 77], [12, 76...",93
973,srp_Leis.trop._AY781789,CAGGCUCAGCGGGGAGGACGUGGACCAGCGAGGGUGAUUUGCUGCG...,.................................................,"[[76, 115], [77, 114], [78, 113], [80, 112], [...",134
9,5s_Saprospira-grandis-1,CUUCUCGGUGGCCUAUAGCAGCAGGGAACGCCCGGACCCAUUCCGA...,.(..(((((((......(.((((((....((((((..............,"[[2, 120], [5, 118], [6, 117], [7, 116], [8, 1...",121
143,srp_Neur.cras._AL669999,CGACUGUAAUGGUCAAGGUGGGUUUGAAGGCACUUGAUUUUCUCAA...,.(((.......))).(((((((......(((((((.(...((((((...,"[[2, 14], [3, 13], [4, 12], [16, 281], [17, 28...",282
2884,5s_Fusobacterium-mortiferum-1,CUUGGUGAGAAGAGCUACGGGGGUACACCCAGAAACAUUCCGAACC...,((((((((.....(.((((((.....((((((.............)...,"[[1, 116], [2, 115], [3, 114], [4, 113], [5, 1...",117
3175,5s_Acidovorax-facilis-1,UGCCUGAUGACCAUAGCAAGUUGGUACCACUCCUUCCCAUCCCGAA...,.(((((((((.....((((((((.....((((((...............,"[[2, 115], [3, 114], [4, 113], [5, 112], [6, 1...",115
936,srp_Chla.pneu._AE002161,GUAAGUUGGGGGCCUUUUAAGAGAAGGAACCUGCGAAUCGGGUCAG...,..(...((((((.(((((..(((.(((...((.(.....((((......,"[[3, 105], [7, 102], [8, 101], [9, 100], [10, ...",110
129,5s_Plagiomnium-trichomanes-1,GGAUGCGGUCAUACCAAGGCUACUACACCAGAUCCCAUCAGAACUC...,(((((((((....(((((((......((((((............))...,"[[1, 118], [2, 117], [3, 116], [4, 115], [5, 1...",119
1324,srp_Myco.bovi._BX248347,UGAACUCCCCCAGGGCCGGAAGGCAGCAAGGGUCAAUGGGCUCUGG...,(.....(((.....(((....))).....)))...).............,"[[1, 36], [7, 32], [8, 31], [9, 30], [15, 24],...",59
707,srp_Trit.aest._CA626434,UUGUAACCCGAGUGGGGGCAUUAAGGUGAUGUGGACGCUGUUGUAG...,......((((..))))......................((.((......,"[[7, 16], [8, 15], [9, 14], [10, 13], [39, 267...",269
3718,tRNA_tdbR00000593-Ascaris_suum-6253-Trp-CA,ACAGAUUUAAGUUAAGUUUAAACUCUUGGUUUUCAAAACCAAAAAU...,(((((.(..((((.......)))).(((((.......))))).......,"[[1, 56], [2, 55], [3, 54], [4, 53], [5, 52], ...",60
1061,5s_Cycas-revoluta-1,GGGUGCGAUCAUACCAGCGUUAAUGCACCGGAUCCCAUCAGAACUC...,(((((((((....(((((((......((((((............))...,"[[1, 118], [2, 117], [3, 116], [4, 115], [5, 1...",120
770,srp_Plas.yoel._GSP-352914,GUCUGGCUGUAUGCUCCUCGGGGUAUGCAGCUGUAACCGUAAGGGG...,(((((((((((((((((..))))))))))))).....(.((((((....,"[[1, 79], [2, 78], [3, 77], [4, 76], [5, 32], ...",304
2271,srp_Dros.mela._X00952,GACUGGAAGGUUGGCAGCUUCUGUAACUCACGCUUCUGUGAGGUCU...,(((((((((.(....).))))).....(((........)))))))....,"[[1, 45], [2, 44], [3, 43], [4, 42], [5, 22], ...",298
1412,srp_Schi.pomb._X15220,CGCUGUAAUGGCUUGGUCGAAGUGUUUAGUACUCCCAAUAGUGCAU...,.((.......)).((((((..((((((.(((((.((....(((((....,"[[2, 12], [3, 11], [14, 254], [15, 253], [16, ...",256
2354,srp_Pyro.isla._CP000504,GGCGGGGGGCUGCACGGCGUGCCGGCCGUGCUCCGCCGGAAGGCGG...,...........((.(((.((((.....)))).)))......((......,"[[12, 62], [13, 61], [15, 35], [16, 34], [17, ...",244
1115,srp_Enta.hist._AF487684,GAUCCUAUCAUAUUUAUCAACGUUUGAGACUACCUCAUACCAUAUC...,(((.(((.((((..(((.((..(((..(((.....(((.(((((((...,"[[1, 198], [2, 197], [3, 196], [5, 194], [6, 1...",210
1375,tRNA_tdbR00000349-Haloferax_volcanii-2246-Arg-CCG,GGGCCCGUAGCUCAGUGGACAGAGUGCUUGGUUCCGGACCAAGAUG...,(((((((..((((........)))).(((((.......)))))......,"[[1, 72], [2, 71], [3, 70], [4, 69], [5, 68], ...",76
3679,tRNA_tdbR00000245-Rattus_norvegicus-10116-Leu-UAG,AACUUGUAUAGGAUAGAAGUAAUCCAUUGGUCUUAGGAACCAAAAA...,.((((.((..((((.......)))).(((((.......)))))......,"[[2, 71], [3, 70], [4, 69], [5, 68], [7, 66], ...",75